img {
    height: 300px;
    margin-bottom: 300px;
    transition: all 0.5s;
    transform-origin: 100% 40%;
}
.rotate img {
    transform: rotate(20deg);
  
}

.translate img {
    transform: translate(200px, 100px);
}

.scale img {
    transform: scale(1.5,1.5);
}

.animation img {
    animation-name: resize;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes resize {
    0%,100%{
        width: 100%;
       
    }
    50% {
        width: 50%;
        height: 0%;
    }
}
